ELECTRON_MIRROR=http://npm.taobao.org/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=http://npm.taobao.org/mirrors/electron-builder-binaries/
SASS_BINARY_SITE=http://npm.taobao.org/mirrors/node-sass
electron-rebuild -d=http://npm.taobao.org/mirrors/atom-shell
set "PYTHON_MIRROR=http://npm.taobao.org/mirrors/python"

